@import './index.scss';

.boost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 8%;
    background-color: $darkPurple;
    background-image: url("../assets/images/bg-boost-desktop.svg");
            background-size: cover;
    h3 {
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
    }
    button.get-started {
        border: none;
        background-color: $teal;
        color: white;
        padding: 10px 20px;
        border-radius: 35px;
        &:hover {
            color: white; 
            background-color: $hoverTeal;
        }
    }
}