@import './index.scss';

footer {
    padding: 8%;
    background-color: #232127;
    h3 {
        color: white;
        font-weight: bold;
        font-size: 2.5rem;
    }
    h4 {
        color: white;
        font-weight: bold;
    }
    ul {
        color: $gray;
        list-style-type: none;
        padding: 0;
        li {
            margin: 10px 0;
            &:hover {
                color: $teal;
                cursor: pointer;
            }
        }
    }
    .icons {
        display: flex;
        justify-content: space-evenly;
        button.social {
            color: #232127;
            background-color: #232127;
            border: none;
        }
    }
    @media (max-width: 768px) {
        text-align: center;
    }
}