@import '~antd/dist/antd.css';

$black: #34313D;
$darkPurple: #3A3054;
$purple: #4B3F6B;
$gray: #9E9AA8;
$white: #EFF1F7;
$teal: #2BD0D0;
$hoverTeal: #9AE3E3;

body, html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: $gray;
    @media (max-width: 992px) {
        font-size: 14px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
    @media (max-width: 576px) {
        font-size: 10px;
    }
}

